nav
{
	background-color: #00171F;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,0.8);
    text-transform: capitalize;
    padding: 2px 10px;
    margin: 2px;
    transition: all ease 0.2s;
}

.navbar-dark .navbar-nav .nav-link:hover {
	border-bottom: 1px solid white ;
	color: white;
	transform: scale(1.05);
	box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

.navbar-brand{
	text-transform: capitalize;
}

.dropdown-item{
	color: #00171F;
	text-transform: capitalize;
	transition: all ease .2s;
}

.dropdown-item:hover {
	background-color: #00171f;
	color:white;
}

.banner{
	background-image: url('../images/inner2.jpg');
	background-size: cover;
	background-position: top;
}

.banner .breadcrumb{
	background-color: rgba(255,255,255,0.01);
}

.category{
	margin:45px auto;
}

.category .card{
	border:0;
	box-shadow: 3px 3px 4px rgba(0,52,89,0.3);	
	transition: all ease .2s;
}

.category .card-img-overlay{
	transition: all ease .2s;
}

.category .card-img-overlay:hover{
	background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.0));
}

.category .card:hover{
	transform: scale(1.02);
	box-shadow: 6px 6px 10px rgba(0,52,89,0.3);
}

.category .card-title{
	top: 50%;
	left: 50%;
	position: absolute;
	padding: 15px;
	transition: all ease .2s;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 20px;
	transform: translate(-50%,-50%);
}

.category .card-img-overlay:hover > h6{
	border: 2px solid white;
	font-weight: 500;
}

.breadcrumb-item{
	color: #ededed;
	font-weight: 200;
}

.breadcrumb-item.active{
	color: white;
	font-weight: 500;
}

.card-deck{
	text-decoration: none;
	text-align: center;
}

.features .card{
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.features .card:hover{
	transform: scale(.98);
	box-shadow: 3px 3px 6px rgba(0,0,0,.3);
}

a:hover{
	text-decoration: none;
}

.card-footer a{
	text-transform: uppercase;
}

.items .card-img-top{
	max-width: 50%;
	height: 200px;
}